<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= addedRecipe.name %> Recipe</title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1><%= addedRecipe.name %></h1>

    <% if (addedRecipe.source) { %>
    <p>Source: <%= addedRecipe.source %></p>
    <% } %>
    
    <% if (addedRecipe.prepTime) { %>
    <p>Prep time: <%= addedRecipe.prepTime %></p>
    <% } %>

    <% if (addedRecipe.cookTime) { %>
    <p>Cook time: <%= addedRecipe.cookTime %></p>
    <% } %>

    <p>Ingredients: <%= addedRecipe.ingredients %></p>

    <% if (addedRecipe.notes) { %>
    <p>Notes: <%= addedRecipe.notes %></p>
    <% } %>
    


    <form
      action="/users/<%= user._id %>/foods/<%= addedRecipe._id %>?_method=DELETE"
      method="POST"
    >
      <button type="submit">Delete this Recipe</button>
    </form>
</body>

</html>